@charset "UTF-8";
/*色彩*/
/*動態*/
/*RWD*/
/*三角型*/
/* line 13, ../sass/_all.scss */
.triangle-right, .btn-group ul li:last-child a::before {
  content: '';
  border-width: 0.5em;
  border-style: solid solid solid solid;
  border-color: transparent transparent transparent #003262;
  display: inline-block;
}

/* line 21, ../sass/_all.scss */
* {
  font-size: 15px;
  font-family: "Microsoft YaHei","Arial","sans-serif";
}

/*hover展開選單*/
@media (min-width: 768px) {
  /* line 166, ../sass/_index&responsive.scss */
  /* line 28, ../sass/_all.scss */
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  /* line 169, ../sass/_index&responsive.scss */
  /* line 33, ../sass/_all.scss */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* line 172, ../sass/_index&responsive.scss */
  /* line 38, ../sass/_all.scss */
  .dropdown-toggle {
    cursor: default;
  }
}
/* line 1, ../sass/_reset.scss */
.row_5.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_5.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 .col_02 > .mcol > div + div, .footer > .minner, .header > .minner, .row_5.col3 > .mrow, .row_5.col2 > .mrow, .row_4.col3 > .mrow, .row_4.col2 > .mrow, .row_3.col3 > .mrow, .row_3.col2 > .mrow, .row_2.col3 > .mrow, .row_2.col2 > .mrow, .row_1 > .mrow {
  max-width: 100%;
}

/*手機板padding*/
@media screen and (max-width: 767px) {
  /* line 6, ../sass/_reset.scss */
  .minner.minner {
    padding: 0;
  }
}
/*首頁*/
/* line 14, ../sass/_reset.scss */
.page_mobilehome .module-cgmenu {
  display: none;
}

/* line 19, ../sass/_reset.scss */
ul.navbar-nav {
  margin-top: 0;
}

/* line 22, ../sass/_reset.scss */
.header {
  box-shadow: none;
}

/* line 25, ../sass/_reset.scss */
.footer {
  padding: 0;
}

/* line 28, ../sass/_reset.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

/* line 33, ../sass/_reset.scss */
.go-pcurl, .module-minicart, .module-misc, .share_btn, .module-complex nav, .module-relation {
  display: none;
}

/* line 36, ../sass/_reset.scss */
.module {
  margin-bottom: 0;
}

/* line 41, ../sass/_reset.scss */
.module-detail .mpgtitle {
  border: none;
  background: #003262;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 48, ../sass/_reset.scss */
.module-detail .mpgtitle::before, .module-detail .mpgtitle::after {
  content: '';
  display: inline-block;
  width: 3em;
  height: 1px;
  background: #fff;
}
/* line 55, ../sass/_reset.scss */
.module-detail .mpgtitle h3 {
  margin: 0 1em;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 0.5em 0;
}

/*詳情頁清空*/
/* line 65, ../sass/_reset.scss */
.mpgdetail {
  padding: 0;
}

/*整體a*/
/* line 69, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 72, ../sass/_reset.scss */
.mpgtitle {
  margin-bottom: 0;
  border: none;
  background: none;
}
/* line 76, ../sass/_reset.scss */
.mpgtitle h3 {
  padding: 0em 0 0.5em;
}

/* line 80, ../sass/_reset.scss */
.mbtn, .btn {
  color: #003262;
  border-color: #003262;
  transition: 0.3s ease;
}

/* line 85, ../sass/_reset.scss */
.mbtn:hover {
  background-color: #009de6;
  border-color: #003262;
}

/* line 90, ../sass/_reset.scss */
.btn:hover {
  background-color: #009de6;
}

/* line 93, ../sass/_reset.scss */
.maddtocart .mopt-item .mval a {
  border: 2px solid #ccc;
}

/* line 96, ../sass/_reset.scss */
.maddtocart .mopt-item .mval a:hover {
  border: 2px solid #009de6;
}

/* line 100, ../sass/_reset.scss */
.detail-img img {
  display: block;
  margin: 0 auto;
}

/* line 106, ../sass/_reset.scss */
.mprice span {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 111, ../sass/_reset.scss */
.mb {
  padding-top: 0;
}

/*首頁*/
/*頭部選單*/
/* line 3, ../sass/_index.scss */
.navbar.navbar-default {
  border: none;
  background: none;
  padding-bottom: 1em;
  /*會員登入*/
}
@media screen and (max-width: 767px) {
  /* line 8, ../sass/_index.scss */
  .navbar.navbar-default {
    padding-bottom: 0;
  }
}
/* line 13, ../sass/_index.scss */
.navbar.navbar-default .member-pc {
  width: 100%;
  height: 2em;
  background: #003262;
  display: block;
}
/* line 18, ../sass/_index.scss */
.navbar.navbar-default .member-pc ul.nav.navbar-nav {
  width: auto;
  height: 2em;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 3em;
}
/* line 25, ../sass/_index.scss */
.navbar.navbar-default .member-pc ul.nav.navbar-nav li {
  float: left;
  margin: 0 0em;
  padding: 0;
}
/* line 29, ../sass/_index.scss */
.navbar.navbar-default .member-pc ul.nav.navbar-nav li a {
  padding: 0 1em;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2em;
  margin: 0;
}
/* line 35, ../sass/_index.scss */
.navbar.navbar-default .member-pc ul.nav.navbar-nav li a:hover {
  border-color: transparent;
}
/* line 40, ../sass/_index.scss */
.navbar.navbar-default .member-pc ul.nav.navbar-nav li:nth-of-type(1) a::before {
  content: '';
  display: inline-block;
  position: relative;
  bottom: -4px;
  margin-right: 0.3em;
  background: url("/ezfiles/32/1032/img/597/member-icon.png") no-repeat;
  width: 18px;
  height: 14px;
}
/* line 51, ../sass/_index.scss */
.navbar.navbar-default .member-pc ul.nav.navbar-nav li:nth-of-type(2) a {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* line 58, ../sass/_index.scss */
.navbar.navbar-default .container {
  padding: 0 3em;
  /*選單*/
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 58, ../sass/_index.scss */
  .navbar.navbar-default .container {
    padding: 0 1em;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* line 58, ../sass/_index.scss */
  .navbar.navbar-default .container {
    padding: 1em 0 0;
  }
}
/* line 68, ../sass/_index.scss */
.navbar.navbar-default .container .navbar-header {
  padding-top: 2em;
}
@media screen and (max-width: 767px) {
  /* line 70, ../sass/_index.scss */
  .navbar.navbar-default .container .navbar-header {
    padding: 1em 1em;
  }
}
@media screen and (max-width: 767px) {
  /* line 68, ../sass/_index.scss */
  .navbar.navbar-default .container .navbar-header {
    padding-top: 0;
  }
  /* line 77, ../sass/_index.scss */
  .navbar.navbar-default .container .navbar-header .navbar-toggle {
    margin-top: 3.5em;
    margin-right: 0.5em;
    border-color: #003262;
  }
  /* line 81, ../sass/_index.scss */
  .navbar.navbar-default .container .navbar-header .navbar-toggle:focus, .navbar.navbar-default .container .navbar-header .navbar-toggle:hover, .navbar.navbar-default .container .navbar-header .navbar-toggle:active {
    background: #009de6;
  }
  /* line 85, ../sass/_index.scss */
  .navbar.navbar-default .container .navbar-header .navbar-toggle span.icon-bar {
    display: none;
  }
  /* line 89, ../sass/_index.scss */
  .navbar.navbar-default .container .navbar-header .navbar-toggle span.sr-only::before, .navbar.navbar-default .container .navbar-header .navbar-toggle span.sr-only::after {
    background: #003262;
  }
}
/* line 96, ../sass/_index.scss */
.navbar.navbar-default .container .navbar-header .navbar-brand {
  display: block;
  padding: 0;
  height: auto;
  width: auto;
}
@media (max-width: 768px) and (max-width: 991px) {
  /* line 105, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1.navbar-collapse {
    padding: 0em;
  }
}
@media screen and (max-width: 767px) {
  /* line 111, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 {
    padding-left: 0;
    background: #009de6;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 117, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right {
    padding-top: 0em;
  }
}
/* line 122, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li {
  padding: 2em 0.7em 0.3em;
  transition: 0.3s ease;
  /*第一層選單*/
  /*第二層選單*/
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 125, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li {
    padding: 2em 0 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 122, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li {
    padding: 0;
  }
}
/* line 133, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li:hover {
  background: #009de6;
  transition: 0.3s ease;
}
/* line 136, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li:hover a {
  color: #fff;
  border-color: transparent;
}
/* line 139, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li:hover a::before {
  transition: .3s .1s ease;
  width: 100%;
}
/* line 146, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li > a {
  color: #000;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 149, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li > a {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}
@media screen and (max-width: 767px) {
  /* line 149, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li > a {
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
/* line 160, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li > a::before {
  color: #fff;
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: #fff;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 767px) {
  /* line 160, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li > a::before {
    display: none;
  }
}
/* line 174, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul {
  min-width: 180px;
  width: 100%;
  border: none;
  padding: 1em 0;
  background-color: #009de6;
  left: 0;
}
@media screen and (max-width: 767px) {
  /* line 174, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul {
    padding-left: 0em;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(255, 255, 255, 0.3);
  }
}
/* line 187, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li {
  padding: 0;
  border: none;
  margin: 0.1em 0;
}
/* line 191, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li:first-child {
  margin-top: 0;
}
/* line 194, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li a {
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  /* line 194, ../sass/_index.scss */
  .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li a {
    text-align: left;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
/* line 204, ../sass/_index.scss */
.navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li a:hover, .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li a:active, .navbar.navbar-default .container #defaultNavbar1 ul.navbar-right > li ul li a:focus {
  color: #fff;
  background: #003262;
}

/*輪播圖*/
/* line 218, ../sass/_index.scss */
.carousel {
  position: relative;
}
/* line 220, ../sass/_index.scss */
.carousel .owl-carousel::after {
  content: '';
  display: block;
  width: 100%;
  height: 140px;
  background: url("/ezfiles/32/1032/img/597/banner-before.png") center center no-repeat;
  background-size: 100% 140px;
  bottom: 0em;
  position: absolute;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 230, ../sass/_index.scss */
  .carousel .owl-carousel::after {
    background-size: 100% 70px;
    height: 70px;
  }
}
@media screen and (max-width: 767px) {
  /* line 220, ../sass/_index.scss */
  .carousel .owl-carousel::after {
    height: 30px;
    background-size: 100% 30px;
  }
}
/* line 241, ../sass/_index.scss */
.carousel .owl-dots {
  position: absolute;
  width: 100%;
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  z-index: 3;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 250, ../sass/_index.scss */
  .carousel .owl-dots {
    height: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 241, ../sass/_index.scss */
  .carousel .owl-dots {
    height: 0;
  }
}
/* line 258, ../sass/_index.scss */
.carousel .owl-dots .owl-dot {
  margin: 0 0.3em;
  width: 1.3em;
  height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.3s ease;
}
/* line 268, ../sass/_index.scss */
.carousel .owl-dots .owl-dot.active {
  border: 1px solid #003262;
}
/* line 270, ../sass/_index.scss */
.carousel .owl-dots .owl-dot.active span {
  background: #003262;
}
/* line 274, ../sass/_index.scss */
.carousel .owl-dots .owl-dot span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 200%;
  background: #009de6;
  transition: 0.3s ease;
}

/*三個icon*/
/* line 287, ../sass/_index.scss */
.online-icon {
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 0 8em;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 287, ../sass/_index.scss */
  .online-icon {
    padding: 0;
    margin: 4em auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 287, ../sass/_index.scss */
  .online-icon {
    padding: 0;
    margin-top: 4em;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 767px) {
  /* line 300, ../sass/_index.scss */
  .online-icon .col-sm-4 {
    margin-bottom: 1em;
  }
}
/* line 304, ../sass/_index.scss */
.online-icon .col-sm-4 a {
  width: 243px;
  height: 248px;
  display: block;
  margin: 0 auto;
  transition: 0.3s ease;
  border-radius: 50%;
  overflow: hidden;
}
/* line 314, ../sass/_index.scss */
.online-icon .col-sm-4:nth-of-type(1) a {
  background: url("/ezfiles/32/1032/img/597/three-ball-1.png");
}
/* line 316, ../sass/_index.scss */
.online-icon .col-sm-4:nth-of-type(1) a:hover {
  background: url("/ezfiles/32/1032/img/597/three-ball-hover-1.png");
  transform: scale(0.9);
}
/* line 323, ../sass/_index.scss */
.online-icon .col-sm-4:nth-of-type(2) a {
  background: url("/ezfiles/32/1032/img/597/three-ball-2.png");
}
/* line 325, ../sass/_index.scss */
.online-icon .col-sm-4:nth-of-type(2) a:hover {
  background: url("/ezfiles/32/1032/img/597/three-ball-hover-2.png");
  transform: scale(0.9);
}
/* line 332, ../sass/_index.scss */
.online-icon .col-sm-4:nth-of-type(3) a {
  background: url("/ezfiles/32/1032/img/597/three-ball-3.png");
}
/* line 334, ../sass/_index.scss */
.online-icon .col-sm-4:nth-of-type(3) a:hover {
  background: url("/ezfiles/32/1032/img/597/three-ball-hover-3.png");
  transform: scale(0.9);
}

/*首頁中間三張圖片*/
/* line 344, ../sass/_index.scss */
.feature-pic {
  margin-top: 2em;
  padding: 0;
}
/* line 347, ../sass/_index.scss */
.feature-pic .row {
  margin: 0;
}
/* line 350, ../sass/_index.scss */
.feature-pic .col-sm-4 {
  padding: 0;
}
@media screen and (max-width: 767px) {
  /* line 350, ../sass/_index.scss */
  .feature-pic .col-sm-4 {
    margin-bottom: 1em;
  }
}
/* line 355, ../sass/_index.scss */
.feature-pic .col-sm-4 a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 361, ../sass/_index.scss */
.feature-pic .col-sm-4 a:hover div {
  top: 0%;
  transition: 0.3s ease;
}
/* line 364, ../sass/_index.scss */
.feature-pic .col-sm-4 a:hover div h1, .feature-pic .col-sm-4 a:hover div h2, .feature-pic .col-sm-4 a:hover div p, .feature-pic .col-sm-4 a:hover div span {
  transition: .3s .3s ease;
  opacity: 1;
}
/* line 370, ../sass/_index.scss */
.feature-pic .col-sm-4 a div {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background: rgba(0, 50, 98, 0.7);
  transition: 0.3s ease;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 370, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 370, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div {
    top: 0;
  }
}
/* line 384, ../sass/_index.scss */
.feature-pic .col-sm-4 a div h1, .feature-pic .col-sm-4 a div h2, .feature-pic .col-sm-4 a div p {
  color: #fff;
  font-weight: lighter;
  opacity: 0;
  transition: .3s .3s ease;
}
@media screen and (max-width: 767px) {
  /* line 384, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div h1, .feature-pic .col-sm-4 a div h2, .feature-pic .col-sm-4 a div p {
    opacity: 1;
  }
}
/* line 393, ../sass/_index.scss */
.feature-pic .col-sm-4 a div h1 {
  font-size: 2em;
  margin-bottom: 0.2em;
}
@media screen and (max-width: 767px) {
  /* line 393, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div h1 {
    margin-top: 0;
  }
}
/* line 400, ../sass/_index.scss */
.feature-pic .col-sm-4 a div h2 {
  margin-top: 0;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}
/* line 406, ../sass/_index.scss */
.feature-pic .col-sm-4 a div h2 + span {
  width: 0.5em;
  height: 0.5em;
  display: block;
  border-radius: 50%;
  background: #fff;
  margin: 1em auto;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  /* line 406, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div h2 + span {
    opacity: 1;
  }
}
/* line 418, ../sass/_index.scss */
.feature-pic .col-sm-4 a div p {
  letter-spacing: 0.3em;
  position: relative;
}
/* line 421, ../sass/_index.scss */
.feature-pic .col-sm-4 a div p span {
  width: 25%;
  display: block;
  border-top: 0.5px solid #fff;
  position: absolute;
  top: 0.7em;
  opacity: 0;
}
/* line 428, ../sass/_index.scss */
.feature-pic .col-sm-4 a div p span:first-child {
  left: 5%;
}
/* line 431, ../sass/_index.scss */
.feature-pic .col-sm-4 a div p span:last-child {
  right: 5%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 421, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div p span {
    width: 10%;
  }
}
@media screen and (max-width: 767px) {
  /* line 421, ../sass/_index.scss */
  .feature-pic .col-sm-4 a div p span {
    opacity: 1;
    width: 15%;
  }
}
/* line 444, ../sass/_index.scss */
.feature-pic .col-sm-4 a img {
  width: 100%;
  max-height: 100%;
}
/* line 449, ../sass/_index.scss */
.feature-pic .col-sm-4:nth-of-type(2) p span {
  width: 16%;
}
@media screen and (max-width: 767px) {
  /* line 449, ../sass/_index.scss */
  .feature-pic .col-sm-4:nth-of-type(2) p span {
    width: 10%;
  }
}
/* line 455, ../sass/_index.scss */
.feature-pic .col-sm-4:nth-of-type(3) p span {
  width: 2%;
}

/*scuess-case*/
/* line 462, ../sass/_index.scss */
.container-fluid.title {
  margin: 2em 0 1em;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  /* line 462, ../sass/_index.scss */
  .container-fluid.title {
    margin-top: 1em;
  }
}
/* line 469, ../sass/_index.scss */
.container-fluid.title::after {
  content: '';
  display: block;
  border-width: 0.5em 0.2em 0.5em 0.2em;
  border-color: #009de6 transparent transparent transparent;
  border-style: solid solid solid solid;
  width: 0;
  height: 0em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 481, ../sass/_index.scss */
.container-fluid.title span:nth-of-type(1) {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.2em;
  font-size: 1em;
  height: auto;
  display: block;
  width: 5.3em;
  margin: 0 auto;
  padding: 0 0 0 0.2em;
  position: relative;
  background: #fff;
  color: #003262;
  z-index: 2;
}
/* line 497, ../sass/_index.scss */
.container-fluid.title span:nth-of-type(2), .container-fluid.title span:nth-of-type(3) {
  width: 100%;
  height: 7px;
  background: #003262;
  display: block;
  position: absolute;
  top: 0.8em;
}
/* line 505, ../sass/_index.scss */
.container-fluid.title span:nth-of-type(3) {
  height: 3px;
  background: #009de6;
  top: 1.5em;
}

/*scuccess-icon*/
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 517, ../sass/_index.scss */
  .success-case .container {
    padding: 0;
  }
  /* line 519, ../sass/_index.scss */
  .success-case .container .col-xs-12 {
    padding: 0;
  }
  /* line 521, ../sass/_index.scss */
  .success-case .container .col-xs-12 span {
    margin-right: 0;
  }
  /* line 525, ../sass/_index.scss */
  .success-case .container .col-xs-12 a img {
    height: 2.5em;
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 534, ../sass/_index.scss */
  .success-case .container {
    padding: 0 2em;
  }
  /* line 540, ../sass/_index.scss */
  .success-case .container .col-xs-12 ul li a img {
    height: 3.5em;
  }
}
/* line 550, ../sass/_index.scss */
.success-case .col-xs-12 {
  padding: 0 3em;
}
/* line 553, ../sass/_index.scss */
.success-case ul {
  margin-bottom: 3em;
}
/* line 555, ../sass/_index.scss */
.success-case ul span {
  font-size: 1.2em;
  letter-spacing: 0.2em;
  display: inline-block;
  position: relative;
  margin-right: 3em;
}
/* line 561, ../sass/_index.scss */
.success-case ul span::before {
  content: '';
  display: inline-block;
  margin-right: 0.5em;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #009de6;
}
/* line 571, ../sass/_index.scss */
.success-case ul li {
  margin: 0 0.3em;
}
@media screen and (max-width: 767px) {
  /* line 578, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 {
    padding: 0;
  }
  /* line 580, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 ul {
    border-bottom: 1px solid #003262;
  }
  /* line 582, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 ul:last-child {
    border-bottom: 0;
  }
  /* line 585, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 ul span {
    width: 100%;
    text-align: center;
  }
  /* line 589, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 ul li {
    display: block;
  }
  /* line 591, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 ul li a {
    display: flex;
    width: 100%;
    margin: 1em 0;
  }
  /* line 595, ../sass/_index.scss */
  .success-case .container .row .col-xs-12 ul li a img {
    margin-left: auto;
    margin-right: auto;
  }
}

/*footer*/
/* line 609, ../sass/_index.scss */
.foot {
  background: #007bc4;
  padding: 0;
  position: relative;
}
/* line 613, ../sass/_index.scss */
.foot::before {
  content: '';
  background: url("/ezfiles/32/1032/img/597/footer-triangle.png") no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 767px) {
  /* line 613, ../sass/_index.scss */
  .foot::before {
    position: static;
    background-position: center auto;
    background-size: 100% 35px;
    height: 35px;
  }
}
/* line 629, ../sass/_index.scss */
.foot .container {
  padding-top: 100px;
}
@media screen and (max-width: 767px) {
  /* line 629, ../sass/_index.scss */
  .foot .container {
    padding-top: 2em;
  }
}
/* line 634, ../sass/_index.scss */
.foot .container .row {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 638, ../sass/_index.scss */
  .foot .container .row .col-sm-3 {
    left: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  /* line 644, ../sass/_index.scss */
  .foot .container .row .col-sm-9 {
    width: 50%;
    right: 50%;
  }
}
@media screen and (max-width: 767px) {
  /* line 634, ../sass/_index.scss */
  .foot .container .row {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 652, ../sass/_index.scss */
  .foot .container .row .col-sm-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
}
/* line 658, ../sass/_index.scss */
.foot .container .row .col-sm-3 .qr {
  width: 111px;
  display: inline-block;
  margin-right: 1.2em;
}
/* line 662, ../sass/_index.scss */
.foot .container .row .col-sm-3 .qr img {
  margin-bottom: 1em;
}
/* line 665, ../sass/_index.scss */
.foot .container .row .col-sm-3 .qr p {
  color: #fff;
  font-weight: lighter;
  font-size: 1em;
  letter-spacing: 0.1em;
}
/* line 674, ../sass/_index.scss */
.foot .container .row .col-sm-9 p {
  color: #fff;
  letter-spacing: 0.05em;
}
/* line 681, ../sass/_index.scss */
.foot-link {
  background: #003262;
  padding: 0.5em 0;
  margin-bottom: 0;
}
/* line 685, ../sass/_index.scss */
.foot-link a {
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

/*浮動右側*/
/* line 693, ../sass/_index.scss */
.btn-group {
  position: fixed;
  right: 1em;
  top: 25%;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  /* line 693, ../sass/_index.scss */
  .btn-group {
    top: 20%;
  }
}
/* line 701, ../sass/_index.scss */
.btn-group ul {
  padding-left: 0;
  list-style: none;
}
/* line 704, ../sass/_index.scss */
.btn-group ul li {
  position: relative;
}
/* line 706, ../sass/_index.scss */
.btn-group ul li .showarea {
  position: absolute;
  transform: translate3d(0, 0, 0);
  right: -10vw;
  top: 0;
  background: #009de6;
  display: block;
  width: 8em;
  padding: 0.5em;
  border-radius: 1em;
  opacity: 0;
  transition: right 0.3s ease, opacity 0.3s 0.3s ease;
}
/* line 718, ../sass/_index.scss */
.btn-group ul li .showarea.show {
  right: 3em;
  opacity: 1;
  transition: right 0.3s ease 0.3s, opacity 0.3s 0.3s ease;
}
/* line 723, ../sass/_index.scss */
.btn-group ul li .showarea a {
  display: block;
  color: #fff;
  margin: 1em 0;
  border: 2px dotted #fff;
  padding: 0.3em 0.2em;
  border-radius: 0.5em;
  text-decoration: none;
}
/* line 732, ../sass/_index.scss */
.btn-group ul li .showarea img {
  width: 7em;
  border-radius: 0.5em;
  overflow: hidden;
}
/* line 738, ../sass/_index.scss */
.btn-group ul li > a {
  cursor: pointer;
  display: block;
  background-color: #009de6;
  width: 2.5em;
  height: 2.5em;
  margin: 1em 0;
  border-radius: 50%;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  /* line 738, ../sass/_index.scss */
  .btn-group ul li > a {
    border: 2px solid #fff;
    position: relative;
    z-index: 3;
  }
}
/* line 752, ../sass/_index.scss */
.btn-group ul li > a:hover {
  background-color: #007bc4;
  transition: 0.3s ease;
}
/* line 756, ../sass/_index.scss */
.btn-group ul li > a img {
  width: 100%;
  height: auto;
}
/* line 761, ../sass/_index.scss */
.btn-group ul li:last-child {
  margin-top: 2em;
}
/* line 763, ../sass/_index.scss */
.btn-group ul li:last-child a {
  background: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  right: -3px;
  text-decoration: none;
}
/* line 770, ../sass/_index.scss */
.btn-group ul li:last-child a::before {
  border-color: transparent transparent #003262 transparent;
  border-width: 0.8em;
}
/* line 775, ../sass/_index.scss */
.btn-group ul li:last-child a::after {
  content: '';
  border-top: 3px solid #007bc4;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
}
@media screen and (max-width: 767px) {
  /* line 763, ../sass/_index.scss */
  .btn-group ul li:last-child a {
    border: none;
  }
}

/*內頁title*/
/* line 2, ../sass/_page.scss */
.pic-title {
  height: 400px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  /* line 2, ../sass/_page.scss */
  .pic-title {
    height: auto;
    overflow: inherit;
  }
}
/* line 11, ../sass/_page.scss */
.pic-title img {
  position: absolute;
  top: -30%;
}
@media screen and (max-width: 767px) {
  /* line 11, ../sass/_page.scss */
  .pic-title img {
    top: 0;
    position: static;
  }
}
/* line 19, ../sass/_page.scss */
.pic-title::before {
  content: '';
  display: block;
  width: 100%;
  padding: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(360deg, rgba(0, 157, 230, 0.5) 15%, rgba(0, 157, 230, 0.2) 100%);
  z-index: 1;
}
@media screen and (max-width: 767px) {
  /* line 19, ../sass/_page.scss */
  .pic-title::before {
    display: none;
  }
}

/*內頁*/
/* line 36, ../sass/_page.scss */
.page- {
  /*整體row*/
  /*私人訂製特色*/
}
/* line 43, ../sass/_page.scss */
.page-chara .row, .page-chara-link .row, .page-person .row, .page-scuess .row, .page-aboutus .row {
  margin: 3em 0;
}
@media screen and (max-width: 767px) {
  /* line 38, ../sass/_page.scss */
  .page-chara, .page-chara-link, .page-person, .page-scuess, .page-aboutus {
    padding: 0;
  }
  /* line 48, ../sass/_page.scss */
  .page-chara .container, .page-chara-link .container, .page-person .container, .page-scuess .container, .page-aboutus .container {
    padding: 0;
  }
  /* line 51, ../sass/_page.scss */
  .page-chara .col-xs-12, .page-chara-link .col-xs-12, .page-person .col-xs-12, .page-scuess .col-xs-12, .page-aboutus .col-xs-12 {
    margin: 3em 0;
  }
  /* line 53, ../sass/_page.scss */
  .page-chara .col-xs-12:first-child, .page-chara-link .col-xs-12:first-child, .page-person .col-xs-12:first-child, .page-scuess .col-xs-12:first-child, .page-aboutus .col-xs-12:first-child {
    margin-top: 0;
  }
  /* line 56, ../sass/_page.scss */
  .page-chara .col-xs-12:last-child, .page-chara-link .col-xs-12:last-child, .page-person .col-xs-12:last-child, .page-scuess .col-xs-12:last-child, .page-aboutus .col-xs-12:last-child {
    margin-bottom: 0;
  }
}
/* line 63, ../sass/_page.scss */
.page-chara {
  /*私人訂製課程*/
}
/* line 65, ../sass/_page.scss */
.page-chara .row .col-sm-4 {
  padding: 0em 1em;
  position: relative;
  overflow: hidden;
}
/* line 69, ../sass/_page.scss */
.page-chara .row .col-sm-4 img {
  width: 100%;
  height: 230px !important;
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  /* line 69, ../sass/_page.scss */
  .page-chara .row .col-sm-4 img {
    height: auto !important;
  }
}
/* line 77, ../sass/_page.scss */
.page-chara .row .col-sm-4 p {
  text-align: center;
  line-height: 1.5em;
}
/* line 80, ../sass/_page.scss */
.page-chara .row .col-sm-4 p.title {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 88, ../sass/_page.scss */
.page-chara-link {
  padding: 0;
}
/* line 90, ../sass/_page.scss */
.page-chara-link .row {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  /* line 90, ../sass/_page.scss */
  .page-chara-link .row {
    margin-bottom: 3em;
  }
}
/* line 96, ../sass/_page.scss */
.page-chara-link > h1.title {
  text-align: center;
  background: #003262;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
}
/* line 106, ../sass/_page.scss */
.page-chara-link > h1.title::before, .page-chara-link > h1.title::after {
  content: '';
  display: inline-block;
  width: 3em;
  height: 1px;
  background: #fff;
}
@media screen and (max-width: 767px) {
  /* line 106, ../sass/_page.scss */
  .page-chara-link > h1.title::before, .page-chara-link > h1.title::after {
    display: none;
  }
}
/* line 117, ../sass/_page.scss */
.page-chara-link > h1.title::before {
  margin-right: 1em;
}
/* line 120, ../sass/_page.scss */
.page-chara-link > h1.title::after {
  margin-left: 1em;
}
/* line 124, ../sass/_page.scss */
.page-chara-link .link {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  /* line 124, ../sass/_page.scss */
  .page-chara-link .link {
    display: block;
    padding: 0 1em;
  }
}
/* line 132, ../sass/_page.scss */
.page-chara-link .col-sm-3 {
  padding: 0 0em 1em;
  margin: 1em auto 3em;
  background-size: cover;
  width: calc(25% - 15px);
  box-shadow: 0px 3px 5px -3px #ccc;
  position: relative;
  overflow: hidden;
}
/* line 141, ../sass/_page.scss */
.page-chara-link .col-sm-3 h1,
.page-chara-link .col-sm-3 p {
  text-align: center;
  padding: 0 1em;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
}
/* line 148, ../sass/_page.scss */
.page-chara-link .col-sm-3 h1.title {
  font-size: 1.2em;
  margin-bottom: 1em;
}
/* line 152, ../sass/_page.scss */
.page-chara-link .col-sm-3::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  position: absolute;
  bottom: 0;
  background: #009de6;
  transition: .6s ease;
  z-index: -1;
}
/* line 166, ../sass/_page.scss */
.page-chara-link .col-sm-3:hover p, .page-chara-link .col-sm-3:hover h1, .page-chara-link .col-sm-3:active p, .page-chara-link .col-sm-3:active h1, .page-chara-link .col-sm-3:focus p, .page-chara-link .col-sm-3:focus h1 {
  color: #fff;
  transition: 0.3s ease;
}
/* line 170, ../sass/_page.scss */
.page-chara-link .col-sm-3:hover::after, .page-chara-link .col-sm-3:active::after, .page-chara-link .col-sm-3:focus::after {
  height: 100%;
  transform: translateY(0%);
  transition: .6s  ease;
}
@media screen and (max-width: 767px) {
  /* line 132, ../sass/_page.scss */
  .page-chara-link .col-sm-3 {
    width: 100%;
    padding: 0em;
    padding-bottom: 1em;
  }
}
/* line 184, ../sass/_page.scss */
.page-person {
  padding: 0;
}
/* line 185, ../sass/_page.scss */
.page-person .row {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 185, ../sass/_page.scss */
  .page-person .row {
    display: block;
    padding: 0em;
  }
}
/* line 194, ../sass/_page.scss */
.page-person .row:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.01);
}
/* line 199, ../sass/_page.scss */
.page-person .container {
  padding: 0;
  width: 100%;
}
/* line 203, ../sass/_page.scss */
.page-person h1.title {
  font-size: 1.5em;
  color: #009de6;
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  /* line 203, ../sass/_page.scss */
  .page-person h1.title {
    line-height: 2em;
    margin: 0;
  }
}
/* line 212, ../sass/_page.scss */
.page-person .col-sm-7 {
  padding: 0 10em;
}
/* line 214, ../sass/_page.scss */
.page-person .col-sm-7 p {
  line-height: 2em;
}
/* line 217, ../sass/_page.scss */
.page-person .col-sm-7 ul {
  color: #003262;
  padding-left: 1em;
}
/* line 220, ../sass/_page.scss */
.page-person .col-sm-7 ul li {
  color: #003262;
  line-height: 2em;
}
@media screen and (max-width: 767px) {
  /* line 212, ../sass/_page.scss */
  .page-person .col-sm-7 {
    padding: 0 1em;
  }
}
@media screen and (max-width: 767px) {
  /* line 229, ../sass/_page.scss */
  .page-person .col-xs-12 {
    margin: 0;
  }
}
/* line 236, ../sass/_page.scss */
.page-scuess .row {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  /* line 236, ../sass/_page.scss */
  .page-scuess .row {
    display: block;
    padding: 0 1em;
  }
}
/* line 245, ../sass/_page.scss */
.page-scuess .col-sm-4 {
  width: calc(100% / 3 - 30px);
  margin: 1em auto;
  border: 1px dashed #009de6;
  padding: 1em;
}
/* line 250, ../sass/_page.scss */
.page-scuess .col-sm-4 p {
  line-height: 2em;
  font-style: italic;
  text-align: center;
}
/* line 255, ../sass/_page.scss */
.page-scuess .col-sm-4 i {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  display: block;
}
@media screen and (max-width: 767px) {
  /* line 245, ../sass/_page.scss */
  .page-scuess .col-sm-4 {
    width: 100%;
  }
}
/* line 265, ../sass/_page.scss */
.page-scuess h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* line 270, ../sass/_page.scss */
.page-scuess h3::before, .page-scuess h3::after {
  content: '';
  display: inline-block;
  width: 3em;
  height: 1px;
  background: #003262;
}
/* line 278, ../sass/_page.scss */
.page-scuess h3::before {
  margin-right: 1em;
}
/* line 281, ../sass/_page.scss */
.page-scuess h3::after {
  margin-left: 1em;
}
/* line 286, ../sass/_page.scss */
.page-aboutus {
  padding: 0;
}
/* line 288, ../sass/_page.scss */
.page-aboutus .container {
  padding: 0;
  width: 100%;
}
/* line 292, ../sass/_page.scss */
.page-aboutus .row {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  /* line 292, ../sass/_page.scss */
  .page-aboutus .row {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 303, ../sass/_page.scss */
  .page-aboutus .col-sm-6 {
    margin: 1em 0;
  }
}
/* line 308, ../sass/_page.scss */
.page-aboutus p {
  padding: 0 5em;
  line-height: 2em;
}
@media screen and (max-width: 767px) {
  /* line 308, ../sass/_page.scss */
  .page-aboutus p {
    padding: 0 1em;
  }
}

/* line 318, ../sass/_page.scss */
.product-custom {
  width: 100%;
  padding: 0;
  /*相關課程鏈結*/
  /*私人訂製商品明細頁*/
}
/* line 321, ../sass/_page.scss */
.product-custom .tab-pane {
  padding: 0;
}
/* line 325, ../sass/_page.scss */
.product-custom .product-link {
  margin-bottom: 0;
  display: flex;
  flex: 6;
}
/* line 329, ../sass/_page.scss */
.product-custom .product-link li {
  padding: 0;
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
}
/* line 334, ../sass/_page.scss */
.product-custom .product-link li img {
  width: 100%;
  transition: 1s linear;
}
/* line 338, ../sass/_page.scss */
.product-custom .product-link li span {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
}
/* line 350, ../sass/_page.scss */
.product-custom .product-link li span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #003262;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .4;
  transition: 0.3s ease;
}
/* line 364, ../sass/_page.scss */
.product-custom .product-link li:hover img {
  transform: scale(1.1);
}
/* line 367, ../sass/_page.scss */
.product-custom .product-link li:hover span::after {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  /* line 329, ../sass/_page.scss */
  .product-custom .product-link li {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 325, ../sass/_page.scss */
  .product-custom .product-link {
    display: block;
  }
}
/* line 380, ../sass/_page.scss */
.product-custom .mpro-preview.col-sm-5 {
  width: 55%;
  max-width: 55%;
  padding: 0 0em;
}
/* line 384, ../sass/_page.scss */
.product-custom .mpro-preview.col-sm-5 .owl-dots {
  display: none;
}
/* line 387, ../sass/_page.scss */
.product-custom .mpro-preview.col-sm-5 .owl-stage-outer {
  max-height: inherit;
}
/* line 390, ../sass/_page.scss */
.product-custom .mpro-preview.col-sm-5 img {
  max-height: inherit;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  /* line 380, ../sass/_page.scss */
  .product-custom .mpro-preview.col-sm-5 {
    width: 100%;
    max-width: 100%;
    padding: 0 1em;
  }
}
/* line 401, ../sass/_page.scss */
.product-custom .mpro-panel.col-sm-7 {
  width: 45%;
  max-width: 45%;
  padding: 0 1em;
  margin-left: 0%;
  position: relative;
  z-index: 3;
  background: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 767px) {
  /* line 401, ../sass/_page.scss */
  .product-custom .mpro-panel.col-sm-7 {
    width: 100%;
    max-width: 100%;
    padding: 0 1em;
  }
  /* line 413, ../sass/_page.scss */
  .product-custom .mpro-panel.col-sm-7 h3 {
    margin: 0.5em 0;
    padding: 0;
  }
}

/* line 424, ../sass/_page.scss */
.module-ptlist .row.listBS .mbox {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
/* line 431, ../sass/_page.scss */
.module-ptlist .row.listBS .mbox::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #003262;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: .5s transform ease-in;
}
@media screen and (max-width: 767px) {
  /* line 424, ../sass/_page.scss */
  .module-ptlist .row.listBS .mbox {
    display: block;
  }
}
/* line 447, ../sass/_page.scss */
.module-ptlist .row.listBS:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.03);
}
/* line 449, ../sass/_page.scss */
.module-ptlist .row.listBS:nth-of-type(2n) .mbox {
  flex-direction: row-reverse;
}
/* line 451, ../sass/_page.scss */
.module-ptlist .row.listBS:nth-of-type(2n) .mbox::after {
  transform: translateX(100%);
  background: #009de6;
}
/* line 456, ../sass/_page.scss */
.module-ptlist .row.listBS:nth-of-type(2n) .d-img {
  float: right;
}
/* line 459, ../sass/_page.scss */
.module-ptlist .row.listBS:nth-of-type(2n) .d-txt {
  float: left;
}
/* line 463, ../sass/_page.scss */
.module-ptlist .row.listBS .d-txt {
  padding: 0 5em;
  width: 60%;
  max-width: 60%;
}
/* line 467, ../sass/_page.scss */
.module-ptlist .row.listBS .d-txt a {
  font-size: 1.2em;
  color: #009de6;
  margin-bottom: 1em;
}
/* line 472, ../sass/_page.scss */
.module-ptlist .row.listBS .d-txt .mdetail {
  line-height: 2em;
  font-size: 1em;
}
@media screen and (max-width: 767px) {
  /* line 463, ../sass/_page.scss */
  .module-ptlist .row.listBS .d-txt {
    width: 100%;
    max-width: 100%;
    padding: 1em;
  }
}
/* line 482, ../sass/_page.scss */
.module-ptlist .row.listBS .d-img {
  width: 40%;
  max-width: 40%;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: 1s transform ease-in;
}
@media screen and (max-width: 767px) {
  /* line 482, ../sass/_page.scss */
  .module-ptlist .row.listBS .d-img {
    width: 100%;
    max-width: 100%;
  }
}
/* line 493, ../sass/_page.scss */
.module-ptlist .row.listBS .d-img img {
  width: 100%;
  height: auto;
}
/* line 500, ../sass/_page.scss */
.module-ptlist .row.listBS .mbox:hover .d-img img {
  transform: scale(1.1);
  transition: 1s transform ease-in;
}
/* line 505, ../sass/_page.scss */
.module-ptlist .row.listBS .mbox:hover a, .module-ptlist .row.listBS .mbox:hover .mdetail {
  color: #fff;
  transition: .3s .3s ease;
}
/* line 509, ../sass/_page.scss */
.module-ptlist .row.listBS .mbox:hover::after {
  transform: translateX(0);
  transition: .5s transform ease-in;
}

/*免費試用表單*/
/* line 521, ../sass/_page.scss */
.form-custom .desc {
  font-size: 1em;
  line-height: 2em;
}

/* line 528, ../sass/_page.scss */
.module-meccglist h3 {
  text-align: center;
  background: #003262;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  border-bottom: none;
}
/* line 539, ../sass/_page.scss */
.module-meccglist h3::before, .module-meccglist h3::after {
  content: '';
  display: inline-block;
  width: 3em;
  height: 1px;
  background: #fff;
}
/* line 547, ../sass/_page.scss */
.module-meccglist h3::before {
  margin-right: 1em;
}
/* line 550, ../sass/_page.scss */
.module-meccglist h3::after {
  margin-left: 1em;
}

/*解決方案底部調整*/
/* line 557, ../sass/_page.scss */
.page_mobileptdetail .feature-pic {
  margin-top: 0;
}
/* line 559, ../sass/_page.scss */
.page_mobileptdetail .feature-pic h1.title {
  text-align: center;
  background: #003262;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  margin: 0;
}
/* line 570, ../sass/_page.scss */
.page_mobileptdetail .feature-pic h1.title::before, .page_mobileptdetail .feature-pic h1.title::after {
  content: '';
  display: inline-block;
  width: 3em;
  height: 1px;
  background: #fff;
}
@media screen and (max-width: 767px) {
  /* line 570, ../sass/_page.scss */
  .page_mobileptdetail .feature-pic h1.title::before, .page_mobileptdetail .feature-pic h1.title::after {
    display: none;
  }
}
/* line 581, ../sass/_page.scss */
.page_mobileptdetail .feature-pic h1.title::before {
  margin-right: 1em;
}
/* line 584, ../sass/_page.scss */
.page_mobileptdetail .feature-pic h1.title::after {
  margin-left: 1em;
}

/* line 595, ../sass/_page.scss */
.page_mobile_mecproddetail .foot::before,
.page_mobileptdetail .foot::before,
.page_mobile_meccg .foot::before,
.page_mobile_mecprod .foot::before {
  display: none;
}
/* line 599, ../sass/_page.scss */
.page_mobile_mecproddetail .foot .container,
.page_mobileptdetail .foot .container,
.page_mobile_meccg .foot .container,
.page_mobile_mecprod .foot .container {
  padding-top: 1em;
}

/*特效先置作業*/
/* line 607, ../sass/_page.scss */
.page-chara .col-sm-4,
.page-chara-link .col-sm-3,
.page-person .col-sm-5,
.page-person .col-sm-7,
.module-ptlist .mbox,
.page-scuess .col-sm-4,
.page_mobileptdetail .feature-pic {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  /* line 607, ../sass/_page.scss */
  .page-chara .col-sm-4,
  .page-chara-link .col-sm-3,
  .page-person .col-sm-5,
  .page-person .col-sm-7,
  .module-ptlist .mbox,
  .page-scuess .col-sm-4,
  .page_mobileptdetail .feature-pic {
    opacity: 1;
  }
}

/*# sourceMappingURL=usercss.css.map */