/*色彩*/
$color-1:#009de6;
$color-2:#003262;
$color-3:#007bc4;
/*動態*/
$transition-1:.3s ease;
/*RWD*/
$mobile:" screen and (max-width: 767px)";
$pad:" (min-width:768px) and a (max-width:991px)";
$mini-pc:" (min-width: 992px) and (max-width: 1199px)";

/*三角型*/
.triangle-right{
            content:'';
            border-width:0.5em;
            border-style:solid solid solid solid;
            border-color:transparent transparent transparent $color-2;
            display:inline-block;
          }
          
*{
	font-size: 15px;
	font-family: "Microsoft YaHei","Arial","sans-serif";
}
/*hover展開選單*/
@media (min-width: 768px) {
  /* line 166, ../sass/_index&responsive.scss */
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  /* line 169, ../sass/_index&responsive.scss */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* line 172, ../sass/_index&responsive.scss */
  .dropdown-toggle {
    cursor: default;
  }
}