/*首頁*/
/*頭部選單*/
.navbar.navbar-default{
  border:none;
  background: none;
  padding-bottom: 1em;
  @media screen and (max-width: 767px){
    &{
      padding-bottom: 0;
    }
  }
  /*會員登入*/
  .member-pc{
    width: 100%;
    height: 2em;
    background: $color-2;
    display:block;
      ul.nav.navbar-nav{
        width: auto;
        height: 2em;
        display:flex;
        align-items:center;
        float:right;
        margin-right: 3em;
        li{
          float:left;
          margin:0 0em;
          padding:0;
          a{
            padding:0 1em;
            color:#fff;
            font-size: 12px;
            letter-spacing:0.2em;
            margin:0;
            &:hover{
              border-color:transparent;
            }
          }
          &:nth-of-type(1) a{
            &::before{
              content:'';
              display:inline-block;
              position:relative;
              bottom:-4px;
              margin-right: 0.3em;
              background: url('/ezfiles/32/1032/img/597/member-icon.png') no-repeat;
              width:image-width('../images/member-icon.png');
              height:image-height('../images/member-icon.png');
            }          
          }
          &:nth-of-type(2) a{
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
        }
      }
  }
  .container{
    padding:0 3em;
    @media (min-width:768px) and (max-width: 1199px){
      padding:0 1em;
      width: 100%;
    }
    @media #{$mobile}{
        padding:1em 0 0;

    }    
    .navbar-header{
      @media screen and (max-width: 767px){
        &{
          padding: 1em 1em;
        }
      }
      padding-top: 2em;
      @media screen and (max-width: 767px){
        padding-top: 0;
        .navbar-toggle{
          margin-top: 3.5em;
          margin-right: 0.5em;
          border-color:$color-2;
          &:focus,&:hover,&:active{
            background: $color-1;
          }
          span{
            &.icon-bar{
              display:none;
            }
            &.sr-only{
              &::before,&::after{
                background: $color-2;
              }
            }
          }
        }
      }
      .navbar-brand{
        display:block;
        padding:0;
        height: auto;
        width: auto;
      }
    }
    /*選單*/
    #defaultNavbar1{
      &.navbar-collapse{
        @media (max-width: 768px) and (max-width: 991px){
          padding:0em;
        }
      }
      @media  #{$mobile}{
        &{
          padding-left: 0;
          background: $color-1;
        }
      }
      ul.navbar-right{
        &{
          @media (min-width:768px) and (max-width:1199px){
            padding-top: 0em;
          }
        }
        >li{
            padding:2em 0.7em 0.3em;
            transition:$transition-1;
            &{
              @media (min-width:768px) and (max-width: 1199px){
                padding:2em 0 0;
              }
            }
            @media screen and (max-width: 767px){
              padding:0;
            }
          &:hover{
            background: $color-1;
            transition:$transition-1;
            a{
              color:#fff;
              border-color:transparent;
              &::before{
                transition:.3s .1s ease;
                width: 100%;
              }
            }
          }
          /*第一層選單*/
          >a{            
            color:#000;
            position: relative;
            &{
              @media (min-width:768px) and (max-width: 991px){
                padding-left: 0.2em;
                padding-right: 0.2em;
              }
              @media #{$mobile}{
                color:#fff;
                padding-top: 1em;
                padding-bottom: 1em;
              }
            }
            &::before{
              color:#fff;
              content:'';
              display:block;
              height: 2px;
              width: 0%;
              background: #fff;
              margin-bottom: 0.5em;
              @media screen and (max-width: 767px){
                display:none;
              }
            }
          }
          /*第二層選單*/
          ul{
            min-width:180px;
            width: 100%;
            border:none;
            padding:1em 0;
            background-color: $color-1;
            left:0;
            @media #{$mobile}{
                padding-left: 0em;
                padding-top: 0;
                padding-bottom: 0;
                background: rgba(255,255,255,.3);
            }
            li{
              padding:0;
              border:none;
              margin:0.1em 0;
              &:first-child{
                margin-top: 0;
              }
              a{
              padding:0.5em 1em;
              text-align:center;  
              color:#fff;
              @media #{$mobile}{
                text-align:left;
                padding-left: 1.5em;
                padding-top: 1em;
                padding-bottom: 1em;
              }
                &:hover,&:active,&:focus{
                  color:#fff;
                  background: $color-2;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*輪播圖*/
.carousel{
  position:relative;
  .owl-carousel::after{
    content:'';
    display:block;
    width: 100%;
    height: 140px;
    background: url('../images/banner-before.png') center center no-repeat;
    background-size: 100% 140px;
    bottom:0em;
    position:absolute;
    z-index: 2;
    &{
      @media (min-width:768px) and (max-width:1199px){
        background-size: 100% 70px;
        height: 70px;
      }
    }
    @media #{$mobile}{
      height: 30px;
      background-size: 100% 30px;
    }
  }
  .owl-dots{
    position:absolute;
    width: 100%;
    height: image-height('../images/banner-before.png');
    display:flex;
    align-items: center;
    justify-content:center;
    bottom:0;
    z-index: 3;
    &{
      @media (min-width:768px) and (max-width:1199px){
        height: 0;
      }
    }
    @media #{$mobile}{
      height: 0;
    }
    .owl-dot{
      margin:0 0.3em;
      width: 1.3em;
      height: 1.3em;
      display:flex;
      justify-content:center;
      align-items:center;
      border-radius:50%;
      border:1px solid transparent;
      transition:$transition-1;
      &.active{
        border:1px solid $color-2;
        span{
          background: $color-2;
        }
      }      
      span{
        display:block;
        width: 0.5em;
        height: 0.5em;
        border-radius:200%;
        background: $color-1;
        transition:$transition-1;
      }
    }
  }
}

/*三個icon*/
.online-icon{
  margin-top: 2em;
  margin-bottom: 4em;
  padding:0 8em;
  @media (min-width:768px) and (max-width:1199px){
    padding:0;
    margin:4em auto;
  }
  @media #{$mobile}{
    padding:0;
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .col-sm-4{
    @media #{$mobile}{
      margin-bottom: 1em;
    }
    a{
      width: image-width('../images/three-ball-1.png');
      height:image-height('../images/three-ball-1.png');
      display:block;
      margin:0 auto;
      transition:$transition-1;
      border-radius:50%;
      overflow: hidden;
    }
    &:nth-of-type(1){
      a{
        background: url('../images/three-ball-1.png');
        &:hover{
          background: url('../images/three-ball-hover-1.png');
          transform: scale(0.9);
        }
      }
    }
    &:nth-of-type(2){
      a{
        background: url('../images/three-ball-2.png');
        &:hover{
          background: url('../images/three-ball-hover-2.png');
          transform: scale(0.9);
        }
      }
    }
    &:nth-of-type(3){
      a{
        background: url('../images/three-ball-3.png');
        &:hover{
          background: url('../images/three-ball-hover-3.png');
          transform: scale(0.9);
        }
      }
    }
  }
}

/*首頁中間三張圖片*/
.feature-pic{
  margin-top: 2em;
  padding:0;
  .row{
    margin:0;
  }
  .col-sm-4{
    padding:0;
    @media #{$mobile}{
      margin-bottom: 1em;
    }
    a{
      display:block;
      position:relative;
      overflow:hidden;
      height: 100%;
      &:hover{
        div{
          top:0%;
          transition:$transition-1;
          h1,h2,p,span{
            transition:.3s .3s ease;
            opacity: 1;
          }
        }
      }        
      div{
        position:absolute;
        top:-100%;
        width: 100%;
        height: 100%;
        padding-top: 10%;
        background: rgba(0, 50, 98,0.7);
        transition:$transition-1;
        @media (min-width: 768px) and (max-width:991px){
          padding-top: 0;
        }
        @media #{$mobile}{
            top:0;
        }
        h1,h2,p{
          color:#fff;
          font-weight: lighter;
          opacity: 0;
          transition:.3s .3s ease;
          @media #{$mobile}{
            opacity: 1;
          }
        }
        h1{
          font-size: 2em;
          margin-bottom: 0.2em;
          @media #{$mobile}{
            margin-top: 0;
          }
        }
        h2{
          margin-top: 0;
          font-size: 1.5em;
          letter-spacing: 0.05em;

        }
        h2 + span{
          width: 0.5em;
          height: 0.5em;
          display:block;
          border-radius:50%;
          background: #fff;
          margin:1em auto;
          opacity: 0;
          @media #{$mobile}{
            opacity: 1;
          }
        }
        p{
          letter-spacing:0.3em;
          position:relative;
          span{
            width: 25%;
            display:block;
            border-top:0.5px solid #fff;
            position:absolute;
            top:0.7em;
            opacity: 0;
            &:first-child{
              left:5%;              
            }
            &:last-child{
              right:5%;
            }            
            @media (min-width:768px) and (max-width:1199px){
              width: 10%;
            }
            @media #{$mobile}{
              opacity: 1;
              width: 15%;
            }
          }
        }
      }
      img{
        width:100%;
        max-height: 100%;
      }
    }    
    &:nth-of-type(2) p span{
      width: 16%;
      @media #{$mobile}{
        width: 10%;
      }
    }
    &:nth-of-type(3) p span{
      width: 2%;
    }
  }
}

/*scuess-case*/
.container-fluid.title{
  margin:2em 0 1em;
  padding:0;
  position:relative;
  @media #{$mobile}{
    margin-top: 1em;
  }
  &::after{
    content:'';
    display:block;
    border-width: 0.5em 0.2em 0.5em 0.2em;
    border-color:$color-1  transparent   transparent  transparent;
    border-style:solid solid solid solid;
    width: 0;
    height: 0em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }
  span:nth-of-type(1){      
    text-align:center;
    font-weight: lighter;
    letter-spacing:0.2em;
    font-size: 1em;
    height: auto;
    display:block;
    width: 5.3em;
    margin:0 auto;
    padding:0 0 0 0.2em;
    position:relative;
    background: #fff;
    color:$color-2;
    z-index: 2;
  }
    span{
      &:nth-of-type(2),&:nth-of-type(3){
        width: 100%;
        height: 7px;
        background: $color-2;        
        display:block;
        position:absolute;
        top:0.8em;
      }
      &:nth-of-type(3){
        height: 3px;
        background: $color-1;
        top:1.5em;
      }
    }
}

/*scuccess-icon*/
.success-case{
  &{
    @media (min-width:768px) and (max-width: 1199px){
      .container{
        padding:0;
        .col-xs-12{
          padding:0;
          span{
            margin-right: 0;
          }
          a{
            img{
              height: 2.5em;
              width: auto;
            }
          }
        }
      }
    }
    @media (min-width:992px) and (max-width: 1199px){
      .container{
        padding:0 2em ;
        .col-xs-12{          
          ul{
            li{
              a{
                img{
                  height: 3.5em;
                }
              }
            }
          }
        }
      }
    }
  }
  .col-xs-12{
    padding:0 3em;
  }
  ul{
    margin-bottom: 3em;
    span{
      font-size: 1.2em;
      letter-spacing:0.2em;
      display:inline-block;
      position:relative;   
      margin-right: 3em;   
      &::before{
        content:'';
        display:inline-block;
        margin-right: 0.5em;
        width: 6px;
        height: 6px;
        border-radius:50%;
        background: $color-1;
      }
    }
    li{
      margin:0 0.3em;
    }
  }
  @media #{$mobile}{
    .container{
      .row{
        .col-xs-12{          
          padding:0;
          ul{
            border-bottom: 1px solid $color-2;
            &:last-child{
              border-bottom: 0;
            }
            span{
              width: 100%;            
              text-align:center;
            }
            li{
              display:block;
              a{
                display:flex;
                width: 100%;                
                margin:1em 0;
                img{
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*footer*/
.foot{
  background: $color-3;
  padding:0;
  position:relative;
  &::before{
    content:'';
    background: url('../images/footer-triangle.png')   no-repeat;
    background-size: 100%;
    display:block;
    position:absolute;
    top:0;
    width: 100%;
    height: 100px;
    @media #{$mobile}{
      position:static;
      background-position:center auto;
      background-size: 100% 35px;
      height: 35px;
    }
  }
  .container{
    padding-top: 100px;
    @media #{$mobile}{
      padding-top: 2em;
    }
    .row{
      display:flex;
      align-items:center;
      @media (min-width:768px) and (max-width: 1199px){
        .col-sm-3{
          left:50%;
          width: 50%;
          display:flex;
          justify-content:center;
        }
        .col-sm-9{
          width: 50%;
          right:50%;
        }
      }
      @media #{$mobile}{
        display:block;
      }
      .col-sm-3{        
          @media #{$mobile}{
            display:flex;
            justify-content:center;
            margin-bottom: 1em;
          }
        .qr{
          width: image-width('../images/qrcode-1.png');
          display:inline-block;
          margin-right: 1.2em;
          img{
            margin-bottom: 1em;
          }
          p{
            color:#fff;
            font-weight: lighter;
            font-size: 1em;
            letter-spacing:0.1em;
          }
        }
      }
      .col-sm-9{
        p{
          color:#fff;
          letter-spacing:0.05em;
        }
      }
    }
  }
  &-link{
    background: $color-2;
    padding:0.5em 0;
    margin-bottom: 0;
    a{      
      color:#fff;
      font-size: 0.8em;
      letter-spacing:0.1em;
    }
  }
}
/*浮動右側*/
.btn-group{
  position:fixed;
  right:1em;
  top:25%; 
  z-index: 9;
  @media #{$mobile}{
    top:20%;  
  }
  ul{    
    padding-left: 0;
    list-style:none;
    li{
      position:relative;
      .showarea{
        position:absolute;
        transform:translate3d(0,0,0);
        right:-10vw;
        top:0;
        background: $color-1;        
        display:block;
        width: 8em;        
        padding:0.5em;
        border-radius:1em;
        opacity: 0;
        transition:right $transition-1,opacity .3s $transition-1;
        &.show{
          right:3em;
          opacity: 1;
          transition:right $transition-1 .3s,opacity .3s $transition-1;
        }
        a{
          display:block;
          color:#fff;
          margin:1em 0; 
          border:2px dotted #fff;
          padding:0.3em 0.2em;
          border-radius:0.5em;          
          text-decoration:none;
        }
        img{
          width: 7em;          
          border-radius:0.5em;
          overflow:hidden;
        }        
      }
      >a{
        cursor:pointer;
        display:block;
        background-color: $color-1;
        width: 2.5em;
        height: 2.5em;
        margin:1em 0;
        border-radius:50%;
        transition:$transition-1;
        @media #{$mobile}{
            border:2px solid #fff;
            position:relative;
            z-index: 3;
        }
        &:hover{
          background-color: #007bc4;
          transition:$transition-1;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      &:last-child{
        margin-top: 2em;
        a{
          background: none;
          font-size: 12px;
          text-align:center;
          position:relative;
          right:-3px;
          text-decoration:none;
          &::before{
            @extend .triangle-right;
            border-color:transparent  transparent $color-2 transparent;
            border-width:0.8em;
          }
          &::after{
            content:'';
            border-top:3px solid $color-3;
            display:block;
            position:absolute;
            top:0;
            width: 100%;
            height: 2px;
          }
          @media #{$mobile}{
            border:none;
          }
        }
      }
    }
  }
}