/*內頁title*/
.pic-title{
  height: 400px;
  overflow:hidden;
  padding:0;
  position: relative;
    @media #{$mobile}{
        height:auto;
        overflow:inherit;
    }
  img{
    position: absolute;
    top:-30%;
    @media #{$mobile}{
        top:0;
        position:static;
    }
  }
  &::before{
    content:'';
    display:block;
    width: 100%;
    padding:100%;
    position: absolute;
    top:0;
    background: 
    linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0)100%),
    linear-gradient(360deg,rgba(0, 157, 230,0.5)15%,rgba(0, 157, 230,0.2)100%);
    z-index: 1;
    @media #{$mobile}{
        display:none;
    }
  }
}
/*內頁*/
.page- {
    /*整體row*/
    &chara,
    &chara-link,
    &person,
    &scuess,
    &aboutus {
        .row {
            margin: 3em 0;
        }
        @media #{$mobile} {
            padding: 0;
            .container {
                padding: 0;
            }
            .col-xs-12 {
                margin: 3em 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    /*私人訂製特色*/
    &chara {
        .row {
            .col-sm-4 {
                padding: 0em 1em;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 230px!important;
                    margin-bottom: 1em;
                    @media #{$mobile} {
                        height: auto!important;
                    }
                }
                p {
                    text-align: center;
                    line-height: 1.5em;
                    &.title {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            }
        }
        /*私人訂製課程*/
        &-link {
            padding: 0;
            .row {
                margin-bottom: 0;
                @media #{$mobile} {
                    margin-bottom: 3em;
                }
            }
            >h1.title {
                text-align: center;
                background: $color-2;
                font-size: 1.5em;
                color: #fff;
                letter-spacing: 0.1em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em 0;
                &::before,
                &::after {
                    content: '';
                    display: inline-block;
                    width: 3em;
                    height: 1px;
                    background: #fff;
                    @media #{$mobile} {
                        display: none;
                    }
                }
                &::before {
                    margin-right: 1em;
                }
                &::after {
                    margin-left: 1em;
                }
            }
            .link {
                display: flex;
                flex-wrap: wrap;
                @media #{$mobile} {
                    display: block;
                    padding: 0 1em;
                }
            }
            .col-sm-3 {
                padding: 0 0em 1em;
                ;
                margin: 1em auto 3em;
                background-size: cover;
                width: calc(25% - 15px);
                box-shadow: 0px 3px 5px -3px #ccc;
                position:relative;
                overflow:hidden;
                h1,
                p {
                    text-align: center;
                    padding: 0 1em;
                    letter-spacing: 0.1em;
                    transition:$transition-1;
                }
                h1.title {
                    font-size: 1.2em;
                    margin-bottom: 1em;
                }
                &::after{
                  content:'';
                  display:block;
                  width: 100%;
                  height: 100%;
                  transform:translateY(-100%);
                  position:absolute;
                  bottom:0;
                  background: $color-1;
                  transition:.6s ease;
                  z-index: -1;
                }
                &:hover,&:active,&:focus{
                  // background: $color-1;
                  p,h1{
                    color:#fff;
                    transition:$transition-1;
                  }
                  &::after{
                    height: 100%;
                    transform:translateY(0%);
                    transition:.6s  ease;
                  }
                }
                @media #{$mobile} {
                    width: 100%;
                    padding: 0em;
                    padding-bottom: 1em;
                }
            }
        }
    }
    &person {
        .row {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$mobile} {
                display: block;
                padding:0em;
            }
            &:nth-of-type(2n) {
                background: rgba(0, 0, 0, 0.01);
            }
        }
        padding:0;
        .container {
            padding: 0;
            width: 100%;
        }
        h1.title {
            font-size: 1.5em;
            color: $color-1;
            margin-bottom: 1em;
            @media #{$mobile}{
                line-height:2em;
                margin:0;
            }
        }
        .col-sm-7 {
            padding: 0 10em;
            p {
                line-height: 2em;
            }
            ul {
                color: $color-2;
                padding-left: 1em;
                li {
                    color: $color-2;
                    line-height: 2em;
                }
            }
            @media #{$mobile} {
                padding: 0 1em;
            }
        }
        .col-xs-12{
            @media #{$mobile} {                    
                margin:0;
            }
        }
    }
    &scuess {
        .row {
            display: flex;
            flex: 3;
            flex-wrap: wrap;
            @media #{$mobile} {
                display: block;
                padding: 0 1em;
            }
        }
        .col-sm-4 {
            width: calc(100% / 3 - 30px);
            margin: 1em auto;
            border: 1px dashed $color-1;
            padding: 1em;
            p {
                line-height: 2em;
                font-style: italic;
                text-align: center;
            }
            i {
                font-style: normal;
                font-weight: bold;
                text-align: center;
                display: block;
            }
            @media #{$mobile} {
                width: 100%;
            }
        }
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &::before,
            &::after {
                content: '';
                display: inline-block;
                width: 3em;
                height: 1px;
                background: $color-2;
            }
            &::before {
                margin-right: 1em;
            }
            &::after {
                margin-left: 1em;
            }
        }
    }
    &aboutus {
        padding: 0;
        .container {
            padding: 0;
            width: 100%;
        }
        .row {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$mobile} {
                display: block;
            }
        }
        .col-sm-6 {
            @media #{$mobile} {
                & {
                    margin: 1em 0;
                }
            }
        }
        p {
            padding: 0 5em;
            line-height: 2em;
            @media #{$mobile} {
                padding: 0 1em;
            }
        }
    }
}

.product-custom {
    width: 100%;
    padding: 0;
    .tab-pane {
        padding: 0;
    }
    /*相關課程鏈結*/
    .product-link {
        margin-bottom: 0;
        display: flex;
        flex: 6;
        li {
            padding: 0;
            position: relative;
            transition: $transition-1;
            overflow: hidden;
            img {
                width: 100%;
                transition: 1s linear;
            }
            span {
                display: flex;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 3;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 1.2em;
                font-weight: normal;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $color-2;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: .4;
                    transition: $transition-1;
                }
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                span::after {
                    opacity: 0;
                }
            }
            @media #{$mobile} {
                display: block;
            }
        }
        @media #{$mobile} {
            display: block;
        }
    }
    /*私人訂製商品明細頁*/
    .mpro-preview.col-sm-5 {
        width: 55%;
        max-width: 55%;
        padding: 0 0em;
        .owl-dots {
            display: none;
        }
        .owl-stage-outer {
            max-height: inherit;
        }
        img {
            max-height: inherit;
            width: 100%;
            height: auto;
        }
        @media #{$mobile} {
            width: 100%;
            max-width: 100%;
            padding: 0 1em;
        }
    }
    .mpro-panel.col-sm-7 {
        width: 45%;
        max-width: 45%;
        padding: 0 1em;
        margin-left: 0%;
        position: relative;
        z-index: 3;
        background: rgba(255, 255, 255, .7);
        @media #{$mobile} {
            width: 100%;
            max-width: 100%;
            padding: 0 1em;
            h3 {
                margin: 0.5em 0;
                padding: 0;
            }
        }
    }
}

// 在線購買
.module-ptlist {
    .row.listBS {
        .mbox {
            padding-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position:relative;
            overflow:hidden;
            &::after{
              content:'';
              display:block;
              height: 100%;
              width: 100%;
              background: $color-2;
              position:absolute;
              top:0;
              transform:translateX(-100%);
              z-index: -1;
              transition:.5s transform ease-in;              
            }
            @media #{$mobile} {
                display: block;
            }
        }
        &:nth-of-type(2n) {
            background: rgba(0, 0, 0, .03);
            .mbox {
                flex-direction: row-reverse;
                &::after{
                  transform:translateX(100%);
                  background: $color-1;
                }
            }
            .d-img {
                float: right;
            }
            .d-txt {
                float: left;
            }
        }
        .d-txt {
            padding: 0 5em;
            width: 60%;
            max-width: 60%;
            a {
                font-size: 1.2em;
                color: $color-1;
                margin-bottom: 1em;
            }
            .mdetail {
                line-height: 2em;
                font-size: 1em;
            }
            @media #{$mobile} {
                width: 100%;
                max-width: 100%;
                padding: 1em;
            }
        }
        .d-img {
            width: 40%;
            max-width: 40%;
            position:relative;
            overflow:hidden;
            transform:scale(1);
            transition:1s transform ease-in;
            @media #{$mobile} {
                width: 100%;
                max-width: 100%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .mbox:hover{
          .d-img{
            img{
              transform:scale(1.1);
              transition:1s transform ease-in;
            }
          }
          a,.mdetail{
            color:#fff;
            transition:.3s .3s ease;
          }
          &::after{
            transform:translateX(0);
              transition:.5s transform ease-in;
          }
        }
    }
}


/*免費試用表單*/

.form-custom {
    .desc {
        font-size: 1em;
        line-height: 2em;
    }
}

.module-meccglist {
    h3 {
        text-align: center;
        background: $color-2;
        font-size: 1.5em;
        color: #fff;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em 0;
        border-bottom: none;
        &::before,
        &::after {
            content: '';
            display: inline-block;
            width: 3em;
            height: 1px;
            background: #fff;
        }
        &::before {
            margin-right: 1em;
        }
        &::after {
            margin-left: 1em;
        }
    }
}
/*解決方案底部調整*/
.page_mobileptdetail{
 .feature-pic{
    margin-top: 0;
    h1.title {
                text-align: center;
                background: $color-2;
                font-size: 1.5em;
                color: #fff;
                letter-spacing: 0.1em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em 0;
                margin:0;
                &::before,
                &::after {
                    content: '';
                    display: inline-block;
                    width: 3em;
                    height: 1px;
                    background: #fff;
                    @media #{$mobile} {
                        display: none;
                    }
                }
                &::before {
                    margin-right: 1em;
                }
                &::after {
                    margin-left: 1em;
                }
            }
    }   
}
// 內頁foter移除
.page_mobile_mecproddetail,
.page_mobileptdetail,
.page_mobile_meccg,
.page_mobile_mecprod {
    .foot::before {
        display: none;
    }
    .foot {
        .container {
            padding-top: 1em;
        }
    }
}


/*特效先置作業*/
.page-chara .col-sm-4,
.page-chara-link .col-sm-3,
.page-person .col-sm-5,
.page-person .col-sm-7,
.module-ptlist .mbox,
.page-scuess .col-sm-4,
.page_mobileptdetail .feature-pic{
  opacity: 0;
  @media #{$mobile} {
      opacity: 1;
  }
}
