.row_5.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_5.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 .col_02 > .mcol > div + div, .footer > .minner, .header > .minner, .row_5.col3 > .mrow, .row_5.col2 > .mrow, .row_4.col3 > .mrow, .row_4.col2 > .mrow, .row_3.col3 > .mrow, .row_3.col2 > .mrow, .row_2.col3 > .mrow, .row_2.col2 > .mrow, .row_1 > .mrow{
	max-width: 100%;	
}
/*手機板padding*/
@media screen and (max-width: 767px){
	.minner.minner{
		padding:0;
	}
}

/*首頁*/
 .page_mobilehome{
 	.module-{
 		&cgmenu{
 			display: none;
 		}
 	}
 }
 ul.navbar-nav{
 	margin-top: 0;
 }
 .header{
 	box-shadow:none;
 }
 .footer{
 	padding:0;
 }
 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
 	background-color: transparent;
 	color:transparent;
 	border-color:transparent;
 }
 .go-pcurl,.module-minicart,.module-misc,.share_btn,.module-complex nav,.module-relation,{
 	display:none;
 }
 .module{
 	margin-bottom: 0;
 }
.module-{
	&detail{
		.mpgtitle{
			border:none;
			background: $color-2;
			text-align:center;
			display:flex;
			align-items:center;
			justify-content:center;			
			&::before,&::after{
				content:'';
				display:inline-block;
				width: 3em;
				height: 1px;
				background: #fff;	
			}
			h3{
				margin:0 1em;
				letter-spacing:0.1em;
				color:#fff;
				padding:0.5em 0;
			}
		}
	}
}
/*詳情頁清空*/
.mpgdetail{
	padding:0;
}
/*整體a*/
a:hover{
text-decoration:none;
}
.mpgtitle{
	margin-bottom: 0;
	border:none;
	background: none;
	h3{
		padding:0em 0 0.5em;
	}
}
.mbtn,.btn{	
	color:$color-2;
	border-color:$color-2;
	transition:$transition-1;
}
.mbtn:hover{
	background-color: $color-1;
	// color:$color-2;
	border-color:$color-2;
}
.btn:hover{
	background-color: $color-1;
}
.maddtocart .mopt-item .mval a{
	border:2px solid #ccc;
}
.maddtocart .mopt-item .mval a:hover{
	border:2px solid $color-1;
}
.detail-img{
	img{		
		display:block;
		margin:0 auto;
	}
}
.mprice{
	span{
		font-size: 1.2em;
		font-weight: bold;
	}
}
.mb{
	padding-top: 0;
}